# enforce specific Node.js and pnpm version (https://pnpm.io/npmrc#engine-strict)
engine-strict=true
# disable public-hoist-pattern entirely to avoid phantom dependencies
public-hoist-pattern[]=
# https://pnpm.io/npmrc#update-notifier
update-notifier=false
# workspace-concurrency=0 will use amount of cores of the host to run tasks concurrently (see https://pnpm.io/cli/recursive#--workspace-concurrency)
workspace-concurrency=0

# peer dependencies:
# - don't auto install peer dependencies
# - don't dedupe peer dependents (can introduce issues like https://github.com/pnpm/pnpm/issues/6300#issuecomment-1488663415 and https://github.com/pnpm/pnpm/issues/6264)
auto-install-peers=false
dedupe-peer-dependents=false
strict-peer-dependencies=true